<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t3h.final_t3h">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.t3h.common.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:supportsRtl="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.t3h.message_offline.ActivityNewMessage"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.message_offline.ListMessageOfANumberActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.final_t3h.HomeOnlineActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.parses.LoginActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.parses.SignUpActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.final_t3h.MainOnlineActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.parses.ProfilePictureActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.parses.ProfileInformationActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.common.ImageControl"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.t3h.parses.UploadImageActivity"
            android:label="@string/app_name"></activity>
        <receiver
            android:name="com.t3h.message_offline.MessageBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
